
body {
  margin: 0;
  padding: 0;
}


.div {
  position: relative;
}


.DataSector {
  height: 1100px;
  width: 60%;
  border: darkblue;
  border: 4px;
  background: white;
  margin: auto;
}

.assignment {
  border: black;
  border-width: thick;
  width: 100%;
  height: 5px;
  margin: 10px;
}


#assignmentsearch {
  margin: auto;
  width: 550px;
  background-color: blue;
  height: 60px;
  margin-top: 40px;
}