.Menubar {
  height: 190px;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 35px;
  vertical-align: middle;
}

body { 
  margin: 0;
  padding: 0;
}
.ashtonmenubar {
  background-color: #FF9900;
  opacity: 0.80;
  width: 100%;
  height: 120px;
}

/*.footer {
  position:fixed;
  bottom:0;
  width: 100%;
  height: 10px;
  background: #2c3138;
}*/

#logo {
  height: 200px;
  width: 200px;
  line-height: 80px;
  float: left;
  margin-left: 130px;
  background-color: black;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#menupoints {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  min-width = 100px;
}

.menu {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
}

.menu .btn {
  display: inline-block;
  font-family: sans-serif;
  font-size: 22px;
  float: left;
  color: #fff;
  padding: 8px  52px;
}

.btn .fa {
  color: #fff;
  background: #000;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  border-radius: 50%;
  margin-right: 8px;
}

.btn:hover {
  cursor: pointer;
  color: #333;
  background-color: #fff;
}

.menucenterdiv {
  height: 100%;
  width: 70%;
  margin: auto;
}

#MenupointsIcon {
    top: 50%;
    transform: translateY(-50%);
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 160px;
    background-color: transparent;
}

.dropdown {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    display: inline-block;
    margin-left: 50px;
}

.dropdown-content {
    display: none;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    position: absolute;
    background-color: #f9f9f9;
    width: 192px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content div {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content div:hover {
            background-color: black;
            color: white;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
    border-bottom-color: black;
    border-bottom-style: inset;
    border-bottom-width: 2px;
}

#menuname{
}

#test
{
    color: #000;
}

#footer{
    height: 100px;
    background-color: yellow;
}