.button {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 360px;
    height: 45px;
    cursor: I-beam;
    top: 0;
    float: left;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 21px;
    border-radius: 37px;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    margin-left: 20px;
    text-decoration: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: white;
    opacity: 0.7;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5) inset;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5) inset;
    -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


    .button:hover {
        color: black;
        width: 350px;
        opacity: 0.82;
        border: #FF9900;
        border: medium;
        border-color: #FF9900;
        border-width: 5px;
        -webkit-transition: all 500ms cubic-bezier(0.78, -0.75, 0.265, 1.75);
        -moz-transition: all 500ms cubic-bezier(0.78, -0.75, 0.265, 1.75);
        -o-transition: all 500ms cubic-bezier(0.78, -0.75, 0.265, 1.75);
        transition: all 500ms cubic-bezier(0.78, -0.75, 0.265, 1.75);
    }

    .button:focus {
        border: medium;
        border-color: #FF9900;
        width: 410px;
        cursor: default;
        padding: -13px 20px 0;
        color: black;
        -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
        -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
        -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
        transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    }

.text {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 25px/1 "amaranth", Helvetica, sans-serif;
    color: #000000;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

input:focus {
    outline: none;
}


#assignmentsearch {
    margin: auto;
    width: 550px;
    height: 60px;
    margin-top: 40px;
    display: flex; /* establish flex container */
    flex-direction: column; /* stack flex items vertically */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
}

#searchicon {
    float: left;
    top: 50%;
}


#container {
    margin-left: 50px;
    background-color: yellow;
    width: 300px;
}


