@model ashton.Models.TopBarModel
<!DOCTYPE html>
<html>
<head>
  <link href="@Url.Content("~/Content/ashtonstyle.css")" rel="stylesheet" type="text/css" />
  
 @*<link href="~/Css/jquery-ui.css" type="text/css" rel="stylesheet"/>
  <script src="~/Scripts/jquery-ui.js"></script>
  <script src="~/Scripts/jquery-ui.min.js"></script>*@
</head>

<body>
<div class="Menubar">
  <div class="ashtonbarform">

  </div>

  <div class="ashtonbarformcircle">

  </div>

  <div class="ashtonbarform2">

  </div>

</div>


<div class="DataSector">

</div>
  
@*<div class="table-responsive"></div>*@

</body>
</html>

@RenderBody()

