<!DOCTYPE html>
<html>
<head>
  <link href="@Url.Content("~/Content/ashtonstyle.css")" rel="stylesheet" type="text/css" />
  <style type="text/css">
    .DataSector {
    }
  </style>
</head>
<body>
<div class="Menubar">
  <div class="ashtonbarform">

  </div>

  <div class="ashtonbarformcircle">

  </div>

  <div class="ashtonbarform2">

  </div>
  @RenderBody()
</div>


<div>
  @*FOOTER*@
</div>
</body>
</html>

