@*@model ashton.Models.TopBarModel*@
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Layout.css")"/>
  <script src="https://use.fontawesome.com/8a31748523.js"></script>
</head>
<body>
  <div class="Menubar">
    <div class="ashtonmenubar">
      <div class="menucenterdiv">
      <div id="logo"></div>
        <div id="menupoints">
          <div class="menu">
            <div class="btn"><i class="fa fa-home" aria-hidden="true"></i>Work
            </div>
            <div class="btn"><i class="fa fa-address-book-o" aria-hidden="true"></i>Partners
            </div>
            <div class="btn"><i class="fa fa-user-circle" aria-hidden="true"></i>Account
            </div>
            <div class="btn"><i class="fa fa-cog" aria-hidden="true"></i>Settings
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
  @RenderBody()
  <div class="footer"></div>
</body>

</html>



