
@{
    ViewBag.Title = "AshtonHome";
}
<link href="@Url.Content("~/Content/ashtonstyle.css")" rel="stylesheet" type="text/css" />      

<html>
<body>
  <div class="div1" col-md-6>

    

  </div>


  <div col-md-6 class ="div2">

    
  </div>
</body>
</html>