@model ashton.Models.MainPageModel

@{
  ViewBag.Title = "AshtonHome";
}


<head>
  <link href="@Url.Content("~/Content/ashtonstyle.css")" rel="stylesheet" type="text/css" />
</head>

<div class="Menubar">
  <div class="ashtonbarform">

  </div>
  
  <div class="ashtonbarformcircle">

  </div>

  
  <div class="ashtonbarform2">
    
  </div>



</div>




