@model ashton.Models.AshtonHomeModel

@{
    ViewBag.Title = "AshtonHome";
    Layout = "~/Views/Layout/AsthonLayout.cshtml";
}

<head>
  <meta charset="utf-8">
</head>

<h2>AshtonHome</h2>

<h3>SignUp</h3>