@model ashton.Models.AshtonHomeModel

@{
  Layout = "~/Views/Layout/AsthonLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AshtonHome</title>
</head>
<body>
<div class="DataSector">
 
</div>
</body>
</html>
